<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_8vm6i49xy80yhkt9.css">
    <link rel="stylesheet" href="/dist/index.css">
    <script src="//gw.alipayobjects.com/os/rmsportal/uDTmsEBmTUVrpmCBozbm.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js"></script>
    <script type="text/javascript">
      if ('addEventListener' in document) {
        document.addEventListener('DOMContentLoaded', function() {
          FastClick.attach(document.body);
        }, false);
      }
    </script>

  </head>
  <body>
     <div id="root"></div>
     <script src="/dist/common.js"></script>
     <script src="/dist/index.js"></script>
  </body>
</html>
