<footer class="ui-footer ui-footer-stable ui-border-t">
    <ul class="ui-tiled footer-menu">
        <li class="{{ page == 'index' ? 'active' : '' }}"><a href="/"><i class="iconfont">&#xe6ee;</i><div>电影列表</div></a></li>
        <li class="{{ page == 'news' ? 'active' : '' }}"><a href="/news"><div class="ui-badge-wrap"><i class="iconfont">&#xe605;</i><div class="ui-badge-cornernum">{{ logs }}</div></div><div>投票动态</div></a></li>
        <li class="{{ page == 'summary' ? 'active' : '' }}"><a href="/summary"><i class="iconfont">&#xe600;</i><div>票数统计</div></a></li>
    </ul>
</footer>


<script src="lib/vue/dist/vue.min.js"></script>
<script src="lib/zepto/zepto.min.js"></script>
<script src="lib/frozenui/dist/js/frozen.js"></script>
<script src="lib/layer/build/mobile/layer.js"></script>
</body>
</html>