logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
.DS_Store
.vscode/
yarn.lock
*.swp
app/public/uploads/*
app/public/*
!app/public/uploads/0da95546-1bc3-4a83-a444-badcf1327733.png
public/*
!public/*.html
Temp/
