<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title><%= title%></title>
    <link rel="stylesheet" href="css/style.min.css">
    <link rel="stylesheet" href="lib/frozenui/dist/css/frozen.css">
</head>
<body>

<% include ./partials/header %>





<section class="ui-container {{ loading ? 'blur' : '' }}">
    <div class="chart" id="item1"></div>
    <hr />
    <div class="chart" id="item2"></div>
    <hr />
    <div class="chart" id="item3"></div>
    <hr />
    <div class="chart" id="province1"></div>
    <hr />
    <div class="chart" id="province2"></div>
    <hr />
    <div class="chart" id="province3"></div>

</section>

<br />
<br />
<br />
<br />
<br />


<% include ./partials/footer %>
<script src="lib/canvasjs.min.js"></script>
<script src="js/summary.min.js"></script>

