@import './parameters.less';

body {
  background: @backgroundColor;
  width: 100%;
  margin-bottom: 100px;
}
@media screen and (min-device-width: 1040px) {
    body {
        // max-width: 640px;
        margin-left: auto!important;
        margin-right: auto!important;
    }
}
