
<% include ./partials/header.html %>

<section class="ui-container {{ loading ? 'blur' : '' }}">
    <div class="chart" id="item1"></div>
    <hr />
    <div class="chart" id="item2"></div>
    <hr />
    <div class="chart" id="item3"></div>
    <hr />
    <div class="chart" id="province1"></div>
    <hr />
    <div class="chart" id="province2"></div>
    <hr />
    <div class="chart" id="province3"></div>

</section>

<br />
<br />
<br />
<br />
<br />


<% include ./partials/footer.html %>
<script src="https://gw.alipayobjects.com/os/rmsportal/LDElFHksAvKyVpkIpLyl.js"></script>
<script src="public/summary.min.js"></script>
