<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title><%= title %></title>
    <script src="https://gw.alipayobjects.com/os/rmsportal/uDTmsEBmTUVrpmCBozbm.js"></script>
    <link rel="stylesheet" href="/public/style.min.css">
    <link rel="stylesheet" href="https://gw.alipayobjects.com/os/rmsportal/hQzDfIjMkqPozGrmjiFP.css">
</head>
<body>


<header class="ui-header ui-header-positive ui-border-b">
    <h1>电影投票系统</h1>
</header>

<div class="ui-loading-block {{ loading ? 'show' : '' }}">
    <div class="ui-loading-cnt">
        <i class="ui-loading-bright"></i>
        <p>正在加载中...</p>
    </div>
</div>
